@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    background: #272c34;
    color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.circle {
	position: relative;
	height: 180px;
	width: 180px;
	background-color: #7ddffc;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	animation: darken 5s linear infinite;
}

.container {
	position: absolute;
	height: 200px;
	width: 200px;
	top: 20px;
	left: -10px;
	animation: spin 5s linear infinite;
}

.sun {
	position: absolute;
	top: 55%;
	left: 0;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #ffef00;
	box-shadow: 0 0 10px #ffef00;
}

.side-left{
	position: absolute;
	top: -20px;
	height: 100%;
	width: 100%;
	background-color: #dedbdb;
	clip-path: polygon(50% 50%, 0 100%, 75% 100%);
}

.side-right {
	position:absolute;
	top: -20px;
	height: 100%;
	width: 100%;
	background-color: white;
	clip-path: polygon(50% 50%, 100% 100%, 75% 100%);
}

.shadow {
	position: absolute;
	height: 50%;
	width: 63%;
	top: 70%;
	left: 18%;
	clip-path: polygon(100% 0, 0 0, 100% 0);
	background-color: #c0b25e;
	z-index: 1;
	animation: shadow-animation 5s linear infinite;
}

.ground {
	position: absolute;
	height: 30%;
	width: 100%;
	background-color: #f0de75;
	bottom: 0;
}

@keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}

@keyframes shadow-animation {
	0%{
		clip-path: polygon(100% 0, 0 0, 100% 0);
	}
	25%{
		clip-path: polygon(100% 0, 0 0, 100% 50%);
	}
	40% {
		clip-path: polygon(100% 0, 0 0, 5% 75%);
	}
	60%{
		clip-path: polygon(100% 0, 5% 0, 0 10%);
	}
	65%{
		clip-path: polygon(100% 0, 5% 0, 0 0);
	}
} 

@keyframes darken{
	0%{
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
}